* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--large: 28px;
	--md: 20px;
	--sm: 16px;
}

body {
	font-family: 'Abril Fatface', cursive;
	font-family: 'Cinzel Decorative', cursive;
	font-family: 'Fredoka One', cursive;
	font-family: 'Quicksand', sans-serif;
}

#contenedor-universisdades {
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
	margin-top: 28px;
}

h1 {
	margin-bottom: 12px;
	font-size: var(--large);
}

h2 {
	margin-bottom: 8px;
	font-size: var(--md);
}

h3 {
	margin-bottom: 4px;
	font-size: var(--sm);
}

p {
	margin-bottom: 2px;
	text-align: center;
}

iframe {
	margin-top: 4em;
	margin-bottom: 4em;
}

a {
	font-size: 20px;
}
.inicio {
	margin-top: 4em;
}

.inicio ul:first-child{
	display: grid;
	grid-template-columns: repeat(3, minmax(100px,1fr));
	grid-template-rows: repeat(2, minmax(100px, 1fr));
	gap: 28px;
	place-items: center;
}

ul li a img {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	box-shadow: 10px 5px 5px black;
}

ul li {
	list-style: none;
}